.navbar-custom {
    background-color: hsl(204, 77%, 24%); /* Color de fondo */
    color: #fff; /* Color del texto */
    font-family: 'Roboto', sans-serif; /* Fuente del texto */
    border-bottom: 1px solid hsl(204, 77%, 24%); /* Borde inferior */
}

.navbar-custom .navbar-brand {
    font-weight: bold; /* Texto de la marca en negrita */
}

.navbar-custom .navbar-nav .nav-link {
    color: #fff; /* Color del enlace */
    font-weight: 500; /* Peso de la fuente */
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: #ffc107; /* Color del enlace al pasar el ratón */
}

.navbar-custom .dropdown-menu {
    background-color: hsl(204, 77%, 24%); /* Color de fondo del menú desplegable */
}

.navbar-custom .dropdown-menu .dropdown-item {
    color: #fff; /* Color del texto del elemento del menú desplegable */
}

.navbar-custom .dropdown-menu .dropdown-item:hover {
    background-color: hsl(204, 77%, 24%); /* Color de fondo al pasar el ratón */
}
